# Entorno virtual (¡Súper importante!)
venv/
env/
__pycache__/
*.pyc

# Archivos de configuración y llaves de Google Cloud
*.json
.env

# Archivos de sistema
.DS_Store
Thumbs.db

uploads/*
!uploads/.gitkeep

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl