<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¡Subida Exitosa! - SiembraVision</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
</head>
<body>

<div class="container">
    <img src="{{ url_for('static', filename='img/siembra-logo.png') }}" class="img-logo">
    
    <h2>¡Envío Exitoso!</h2>
    <p class="tagline">Se han procesado y subido {{ cantidad }} imágenes correctamente.</p>
    


    <div class="button-group" style="margin-top: 25px;">
        <a href="{{ url_for('main.dashboard') }}" class="button btn-again">Subir otra fotografía</a>
        
        <a href="{{ url_for('auth.logout') }}" class="button btn-exit">Cerrar Sesión</a>
    </div>
</div>

</body>
</html>