<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido - Siembra+</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
</head>
<body class="pantalla-centrada">
    <div class="container">
        <img src="{{ url_for('static', filename='img/siembra-logo.svg') }}" alt="Siembra+" class="img-logo">
        <h2>Bienvenido a Siembra+</h2>
        <p class="tagline">Análisis inteligente para tus cultivos</p>

<div class="button-group">
    <a href="{{ url_for('auth.login') }}" class="button btn-again">Iniciar Sesión</a>
    <a href="{{ url_for('auth.signup') }}" class="button btn-exit">Registrarse</a>
</div>

        <p class="footer-info">Potenciado por IA y AWS Cloud</p>
    </div>
</body>
</html>